.header{
	position: absolute;
	top: 0;
	width: 30%;
	margin-left: 69%;


}
div header div a{
	text-decoration: none;
	font-family: arial;
	color: grey;
}
.header :hover{
	text-decoration: underline;
}
#gmail{
	width: 20px;
	float: left;
	margin: 10px 20px 0 30px;
	font-family: arial;
	text-decoration: none;

}
#images{
	width: 20px;
	float: left;
	margin: 10px 30px 0 20px;
	font-family: arial;
	text-decoration: none;
}
#img img{
	height: 35px;
	width: 35px;
	float: left;
	margin: 0 0px 0 20px;
}
#sign img{
	height: 35px;
	width: 150px;
	float: left;
	margin: 0 20px 0 20px;
}
.main{
	margin-top: 200px;
}

#logo{
	margin-left: 500px;
	margin-bottom: 40px;
}
.search_form{
		margin-left: 18%;
		margin-bottom: 40px;
		width: 65%;
		height: 30px;
		font-family: Arial;
		font-size: 16px;
}

.buttons{
	margin-left: 33%;
}
#search{
	display: inline;
	height: 30px;
	width: 175px;
	font-family: Arial;
	padding: 0px;
}
#lucky{
	display: inline;
	margin-left: 45px;
	margin-right: 0px;
	width: 175px;
	height: 30px;
	font-family: Arial;
	padding: 0px;
}
div form input{
	width: 300px;
}
.footer{
	bottom: 0;
	position: absolute;
	width: 100%;
}
ul{
	list-style: none;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px;
}
li{
	display: inline;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
}
a:link{
	text-decoration: none;
	color: grey;
}
a:visited{
	text-decoration: none;
	color: grey;
}
a:hover{
	text-decoration: underline;
}
#advertising{
	display: inline;
	margin-right: 25px;
}
#business{
		display: inline;
	margin-right: 25px;

}
#about{
	display: inline;
	margin-right: 25px;
}
#privacy{
	display: inline;
	margin-right: 25px;
	margin-left:850px;
}
#terms{
	display: inline;
	margin-right: 25px;
}
#settings{
	display: inline;
	margin-right: 25px;
}