header{
	display: inline-block;
	width: 35%;
	height: 50px;
	float: right;
}
.header{
}
div header div a{
	text-decoration: none;
	font-family: arial;
	color: grey;
}
#gmail{
	width: 20px;
	float: left;
	margin: 10px 20px 0 30px;
	font-family: arial;
	text-decoration: none;

}
#images{
	width: 20px;
	float: left;
	margin: 10px 30px 0 20px;
	font-family: arial;
	text-decoration: none;
}
#img img{
	height: 35px;
	width: 35px;
	float: left;
	margin: 0 0px 0 20px;
}
#sign img{
	height: 35px;
	width: 150px;
	float: left;
	margin: 0 20px 0 20px;
}
#logo{;
	margin-left: 500px;
	margin-bottom: 40px;
}
.search_form{
		margin-left: 31%;
		margin-bottom: 40px;
}
.buttons{
	margin-left: 40%;
}
#search{
	display: inline-block;
}
#lucky{
	display: inline-block;
	margin-left: 30px;
}
div form input{
	width: 500px;
}